.loading {
  font-family: "Orbitron";
  background: #fff;
  height: 100vh;
  color: #000;
  &__content {
    font-size: clamp(1.75rem, 3vw, 5rem);
    padding-left: 5%;
    padding-top: 5%;
  }
  &__percentage {
    position: absolute;
    bottom: 5%;
    right: 5%;
    font-size: clamp(1.75rem, 4vw, 5rem);
  }
}
