.intro__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  .intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    &__word {
      text-transform: uppercase;
      font-size: clamp(2rem, 6vw, 6rem);
      line-height: 8vw;
    }
    &__tagLine {
      font-size: clamp(0.9rem, 1.4vw, 2rem);
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      font-family: $token-font-lato;
      font-weight: 300;
    }
    &__tag {
      position: absolute;
      bottom: +5vw;
      right: +5vw;
    }
  }
}
