.intro__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  .intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    &__word {
      text-transform: uppercase;
      font-size: 6vw;
      line-height: 8vw;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    &__letter {
      display: inline-block;
      transform: translateY(150px);
      transition: transform 0.5s;
      .place_holder {
        width: 2vw;
      }
    }
    &__tagLine {
      font-size: 1.4vw;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      font-family: $token-font-lato;
      font-weight: 300;
      &_parts {
        display: inline-block;
        transform: translateY(150px);
        transition: transform 0.5s;
      }
    }
    &__tag {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      position: absolute;
      bottom: +5vw;
      right: +5vw;
    }
  }
}
