.shortAbout__container {
  .shortAbout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &__profilePic {
      &_pic {
        max-width: 750px;
        max-height: 750px;
        object-fit: contain;
        margin-top: -75px;
      }
    }
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: $token-space-20;
      &__bio {
        max-width: 1000px;
        font-size: $token-font-size-12;
      }
      &__learnMore {
        &_content {
          height: 100px;
          width: 100px;
          border-radius: 50%;
          border: 1px solid #fff;
          padding: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
