.shortProjects__container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .shortProjects__projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    &_project {
      border: 1px solid rgb(165, 159, 159);
      background: rgb(165, 159, 159);
      height: 30vw;
      width: 20vw;
      cursor: pointer;
      border-radius: 1rem;
    }
    &__learnMore {
      &_arrow {
        width: 4vw;
        transition: scale 0.5s;
        cursor: pointer;
        &:hover {
          scale: 1.2;
        }
      }
    }
  }
}
