.shortProjects {
  &__container {
    max-width: 80vw;
    margin: 0 auto;
    margin-bottom: 10vh;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    &_project {
      border: 1px solid rgb(254, 254, 254);
      background: rgb(165, 159, 159);
      height: 30vw;
      width: 20vw;
      cursor: pointer;
      border-radius: 1rem;
    }
    &__learnMore {
      &_arrow {
        width: 4vw;
        transition: scale 0.5s;
        cursor: pointer;
        &:hover {
          scale: 1.2;
        }
      }
    }
  }
}
