.about__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5vw;
  font-weight: 300;
  font-family: $token-font-lato;
  .about {
    &__intro {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      max-width: 90vw;
      &__profilePic {
        overflow: hidden;
        border-radius: 10px;
        &_pic {
          max-width: 35vw;
          max-height: 30vw;
          object-fit: contain;
          border-radius: 10px;
          transition: transform 0.5s ease-in-out;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
      &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3vw;
        max-width: 40vw;
        &__bio_content {
          display: flex;
          flex-direction: column;
          gap: 2vw;
        }
      }
    }
  }
}
