.heading {
  background: -webkit-linear-gradient(#fff, #242222);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 12vh;
  margin-top: 3vh;
  font-size: clamp(1.2rem, 1.5vw, 1.5rem);
  font-weight: 500;
  line-height: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #fff;
  .section__number {
    font-size: clamp(0.5rem, 1vw, 1rem);
  }
}
