.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: $token-space-8;
  &__logo {
    font-weight: 300;
  }
  &__links {
    display: flex;
    list-style: none;
  }
  &__link {
    padding: 0 $token-space-4;
  }
  &__contact_me {
    padding: $token-space-3 $token-space-7;
    cursor: pointer;
    background: transparent;
    position: relative;
    transition: 0.5s ease-in-out;
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: #fff;
      transition: 0.5s ease-in-out;
      clip-path: circle(0% at 50% 50%);
      z-index: -1;
      color: #000;
    }
    &:hover {
      span {
        display: block;
        animation: reveal 0.5s cubic-bezier(0.5, 0, 0.4, 1) 0.1s;
        animation-fill-mode: forwards;
      }
      &::before {
        clip-path: circle(100% at 50% 50%);
      }
    }
  }

  @keyframes reveal {
    0% {
      transform: translate(0, 100%);
    }
    100% {
      transform: translate(0, 0);
      color: #000;
    }
  }
}
