// space
$token-space-0: 0;
$token-space-1: 0.25rem;
$token-space-2: 0.5rem;
$token-space-3: 0.75rem;
$token-space-4: 1rem;
$token-space-7: 1.75rem;
$token-space-8: 2rem;
$token-space-20: 5rem;
$token-space-24: 6rem;
$token-space-28: 7rem;
$token-space-32: 8rem;
$token-space-36: 9rem;
$token-space-40: 10rem;

// font-family
$token-font-logo: "Orbitron";
$token-font-nav-links: "open sans";
$token-font-bebas: "Bebas Neue";
$token-font-lato: "lato";

// font-size
$token-font-size-1-2: 1.2rem;
$token-font-size-12: 3rem;
$token-font-size-16: 4rem;
$token-font-size-24: 6rem;
$token-font-size-28: 7rem;
$token-font-size-32: 8rem;

// line height
$token-line-height-25: 6.25rem;
$token-line-height-28: 7rem;

// color
